{% extends 'fragments/modal.html' %}

{% block modal_content %}
<h2 class="text-xl font-semibold mb-4 text-gray-800">Crear nueva tarea</h2>
<form hx-post="/api/tasks/create_task/" 
    hx-target="#modal-container" 
    hx-swap="innerHTML" 
    class="flex flex-col gap-3"
>
{% csrf_token %}
{% for field in form %}
<div class="mb-4">
    <label for="{{ field.id_for_label }}" 
           class="block font-semibold text-lg text-gray-800 font-sans pb-2">
      {{ field.label }}
    </label>
    {{ field }}
</div>
{% endfor %}
<div class="flex justify-end gap-2 mt-3">
    <button type="button" id="cancel-btn" class="bg-gray-200 rounded px-3 py-1 text-xl">
        Cancelar
    </button>
    <button type="submit" class="bg-green-600 text-white rounded px-3 py-1 hover:bg-green-400 text-xl">
        Guardar
    </button>
</div>
</form>
{% endblock %}